In [6]:
import pandas as pd
import seaborn as sns

In [7]:
# import dataset(Titanic)
df = sns.load_dataset('titanic')

print(df.head())

# data preprocessing
# define label
label = df['class']

# missing values processing
mean = df['age'].mean()
df['age'] = df['age'].fillna(mean)

# create dummy variables
df = pd.get_dummies(df, drop_first=True)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class
0         0       3    male  22.0      1      0   7.2500        S  Third  \
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
   survived  pclass   age  sibsp  parch     fare  adult_male  alone  sex_male
0         0       3  22.0      1      0   7.2500        True  False      True  \
1         1       1  38.0      1      0  71.2833       False  False     False
2         1       3  26.0      0      0   7.9250       False   True     False
3         1       1  35.0      1      0  53.1000       False  False     False
4         0       3  35.0      0      0   8.0500        True   True      True

   embarked_Q  ...  who_woman  deck_B  deck_C  deck_D  deck_E  deck_F  deck_G
0       False  ...      False   False   False   False   False   False   False  \
1       False  ...       True   False    True   False   False   False   False
2       False  ...       True   False   False   False   False   False   False
3       False  ...       True   False    True   False   False   False   False
4       False  ...      False   False   False   False   False   False   False

   embark_town_Queenstown  embark_town_Southampton  alive_yes
0                   False                     True      False
1                   False                    False       True
2                   False                     True       True
3                   False                     True       True
4                   False                     True      False

[5 rows x 24 columns]